@model RegistrationViewModel

<main>
<div class="container">
    <div class="inner-container">
        <h1>Регистрация</h1>
        <p class="enter-info">Зарегистрируйтесь, чтобы продолжить</p>
        <form asp-action="Registration" asp-controller="Auth" method="post">
            <div class="input-container">
                <label class="input-info">Фамилия</label>
                    <input id='lastname-input' asp-for="@Model.LastName" type="text" name="lastname" required>
            </div>

            <div class="register-grid">
                <div class="input-container">
                    <label class="input-info">Имя</label>
                        <input id='firstname-input' asp-for="@Model.FirstName" type="text" name="firstname" required>
                </div>

                <div class="input-container">
                    <label class="input-info" >Отчество</label>
                        <input id='surname-input' asp-for="@Model.Surname" type="text" name="surname" required>
                </div>

                <div class="input-container">
                    <label class="input-info">Почта</label>
                        <input id='login-input' asp-for="@Model.Email" type="text" name="email" required>
                </div>

                <div class="input-container">
                    <label class="input-info">Номер телефона</label>
                        <input id='phone-input' asp-for="@Model.PhoneNumber" type="text" name="phonenumber" required>
                </div>
            </div>

            <div class="input-container">
                <label class="input-info">Пароль</label>
                <div class="password-eye-container">
                    <div class="password-eye-button">
                            <img class="open-eye-img" src="~/img/eye-open.svg" alt="Скрыть пароль">
                            <img class="closed-eye-img" src="~/img/eye-closed.svg" alt="Показать пароль">
                    </div>
                </div>
                    <input id="password-input" asp-for="@Model.Password" type="password" name="password" required>
            </div>

            <div class="input-container">
                <label class="input-info" for="password-confirm">Подтвердите пароль</label>
                <div class="password-eye-container">
                    <div class="password-eye-button">
                            <img class="open-eye-img" src="~/img/eye-open.svg" alt="Скрыть пароль">
                            <img class="closed-eye-img" src="~/img/eye-closed.svg" alt="Показать пароль">
                    </div>
                </div>
                <input id="password-confirm-input" type="password" required>
            </div>

            <button class="auth_submit_button" type="submit">Войти</button>
        </form>

        <p class="no-account">Уже есть аккаунт? <a href="./authorization.html" class="register">Войдите</a></p>
    </div>
</div>
</main>
<script src="~/js/auth_register.js"></script>